{% extends "base.html" %}

{% block content %}
  <div class="formContainer">
    <h1>Reset Your Password</h1>
    <form action="" method="post">
      {{ form.hidden_tag() }}
      <p>
        {{ form.password.label }}<br>
          <span class="inputInfo">
            min 15 chars and at least somewhat random
          </span><br>
        {{ form.password(size=24) }}<br>
        {% for error in form.password.errors %}
          <span class="formWarning">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>
        {{ form.password2.label }}<br>
        {{ form.password2(size=24) }}<br>
        {% for error in form.password2.errors %}
          <span class="formWarning">[{{ error }}]</span>
        {% endfor %}
      </p>
      <p>{{ form.submit() }}</p>
    </form>
  </div>
{% endblock %}
